body {
  background-color: yellowgreen;
}

h1 {
  color: purple;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
